{% extends "layout.html" %}
{% block content %}

      <h3>LISTA DE PACIENTES</h3>
      <br>

             <p><a href="/consultclient"><img src="https://www.tcionline.com.br/secure/hapvida/images/voltar.png" alt="some text" width=100 height=100></a></p>

        <br>
      <div align="left">
      <h3>LISTA</h3>

        {% for table in tables %}

        <table width="10%" border="1">
          <li {{ table | safe }}</li>
        {% endfor %}
        </table>
          <br>
          <br>
      </div>

      <p><a href="/consultclient"><img src="https://www.tcionline.com.br/secure/hapvida/images/voltar.png" alt="some text" width=100 height=100></a></p>

      <br>
      <br>
  <br>
  <br>


{% endblock content %}
